<div class="container">
    <div class="card box-shadow mt-3">
        <div class="card-header">
            <h2 class="mb-0"><%= event.name %></h2>
        </div>
        <div class="card-body">
            <p><b>Date</b> <%= event.first_date.toLocaleString('en-EN', {
                weekday: 'long',
                day: 'numeric', 
                year: 'numeric', 
                month: 'long'}) %></p>
            <p><b>Repeat</b> <%= event.repeat %></p>
            <% if (event['description']) { %>
                <p><%= event.description %></p>
            <% } %>            
            <div>
                <a href="/edit_event/<%= event.public_id %>" class="btn btn-primary d-inline" role="button">Edit</a>
                <button type="button" class="btn btn-outline-danger d-inline" data-bs-toggle="modal" data-bs-target="#deleteEventModal">
                    Delete event
                </button>
            </div>
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteEventModalLabel">Do you want to delete the event?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
            <form action="/events/<%= event.public_id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-outline-danger d-inline">Delete</button>
            </form>    
        </div>
      </div>
    </div>
  </div>